
<div class="racer">
<h2>Welcome to Javascript racer</h2>

<div class="player_1_name">
<%= @player_1.name %>:
</div>
Id: <span class="player_1_id" data-player_one_id="<%= @player_1.id %>"><%= @player_1.id %></span>
<table class="racer-table">
	<tr id="player-1-strip">
		<td class="active"> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td class="end"> |</td>
	</tr>
	<tr id="player-2-strip">
		<td class="active"> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td> |</td>
		<td class="end"> |</td>
	</tr>
</table>
<div class="player_2_name">
<%= @player_2.name %>:
</div>
Id: <span class="player_2_id" data-player_two_id="<%= @player_2.id %>"><%= @player_2.id %></span>

<br><br>
<div class="game_id" data-game_id="<%= @game.id %>">
Game number: <%= @game.id %>
</div>
<br><br>
<div id="finished">
</div>

</div>